
body {
    background-color: #f8f9fa;
}

header {
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.card {
    border: none;
    margin-bottom: 20px;
}

.card-header {
    font-weight: 500;
}

.list-group-item {
    border-left: none;
    border-right: none;
}

.btn-primary {
    background-color: #0D47A1;
    border-color: #0D47A1;
}

.btn-primary:hover, .btn-primary:focus {
    background-color: #0A3882;
    border-color: #0A3882;
}

.bg-primary {
    background-color: #0D47A1 !important;
}

.bg-secondary {
    background-color: #455A64 !important;
}

footer {
    border-top: 1px solid rgba(0,0,0,0.1);
}

/* Animación de éxito */
#upload-success {
    transition: opacity 0.5s ease;
}
